{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Register
{% endblock title %}
{% block body %}
    <div class="register">
        <h1>Register</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('register') }}
{% endblock stylesheets %}