<div class="login">
    {{ form_start(form, {'method': 'POST', 'attr': { 'data-parsley-validate': true, 'data-parsley-trigger': 'keyup' }}) }}
        <div class="form-group row">
                <div class="col-12">{{ form_widget(form.username) }}</div>
        </div>
        <div class="form-group row">
                <div class="col-12">{{ form_widget(form.password) }}</div>
        </div>
        {{ form_widget(form.submit) }}
        <a href="{{ path('app_register') }}">Register</a>

        <div class="hidden">
                {{ form_rest(form) }}
        </div>
    {{ form_end(form) }}
</div>