<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{{ site_name }}{% endblock %}</title>

        {{ include('includes/fonts.html.twig') }}
        {{ encore_entry_link_tags('main') }}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include 'includes/ui/userbar.html.twig' %}

            {% include 'includes/ui/logo_block.html.twig' %}

            {% if app.user.team is defined %}
            {% include 'includes/ui/navigation.html.twig' %}
            {% endif %}

            {{ include("includes/ui/alerts.html.twig") }}
        {% endblock header %}

        {% block body %}{% endblock %}

        {% block footer %}
{#            {% include 'footer/footer.html.twig' %}#}
        {% endblock footer %}

        {{ encore_entry_script_tags('app') }}

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
