{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Teams - Create
{% endblock title %}

{% block body %}
    <div class="container page-content">
        <h1>Create a Team</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock body %}

{% block javascripts %}
    {{ encore_entry_script_tags('parsley') }}
{% endblock javascripts %}