{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ team.name }} - Schedule
{% endblock title %}

{% block javascripts %}
    {{ encore_entry_script_tags('components') }}
{% endblock javascripts %}

{% block body %}
    <div class="container page-content">
        <h3>{{ team.name }}</h3>

        <div class="row">
            <div class="col-md-4">
                {{ include('includes/ui/team/team_card.html.twig') }}
            </div>

            <div class="col-md-8">
                {{ include('includes/ui/team/detailed_schedule.html.twig') }}

                <div id="block"></div>
            </div>
        </div>
    </div>
{% endblock body %}